/* HomePage.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    /* Fundo preto */
    color: #fff;
    font-family: Arial, sans-serif;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    /* Fundo da barra de navegação */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
    /* Ajuste conforme necessário */
    margin-right: 20px;
    /* Espaçamento entre logo e menu */
}

.menu-item {
    margin-right: 20px;
    /* Espaçamento entre os itens do menu */
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #ffcc00;
    /* Cor amarela ao passar o mouse */
}

.navbar-right {
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.user-icon {
    margin-right: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.homepage-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.2em;
    color: #fff;
}