.asyncSelect {
    --color-background: #1e1e1e;
    /* Ajusta a cor de fundo */
    --color-text: #fff;
    /* Ajusta a cor do texto */
}

.asyncSelect .react-select__control {
    background-color: #1e1e1e;
    border: 1px solid #ffcc00;
    color: #fff;
}

.asyncSelect .react-select__menu {
    background-color: #1e1e1e;
}

.asyncSelect .react-select__option--is-focused {
    background-color: #ffcc00;
    color: #000;
}

.asyncSelect .react-select__option {
    background-color: #1e1e1e;
    color: #fff;
}

.instrumentRegistrationContainer {
    padding: 20px 40px;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instrumentForm {
    width: 90%;
    max-width: 1200px;
    background-color: #1e1e1e;
    border: 1px solid #ffcc00;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

.fieldset {
    border: 1px solid #ffcc00;
    padding: 20px;
    border-radius: 10px;
}

.fieldset legend {
    color: #ffcc00;
    font-weight: bold;
    padding: 0 10px;
}

.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.fullWidth {
    grid-column: span 2;
}

.wide {
    grid-column: span 2;
}

.smallWidth {
    max-width: 100px;
    /* Campo menor para "Cordas" */
}

.widerField {
    grid-column: span 2;
    max-width: 600px;
    /* Aumenta a largura de "Condição" e "Descritivo" */
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formGroup label {
    color: #ffcc00;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.formActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submitButton,
.backButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submitButton {
    background-color: #ff0000;
    color: #fff;
}

.submitButton:hover {
    background-color: #cc0000;
}

.backButton {
    background-color: #ffcc00;
    color: #000;
}

.backButton:hover {
    background-color: #e6b800;
}